<hr class="border-t-2 border-black mb-2">

<footer class="bg-white text-lg">
  <div class="container mx-auto  px-8">

    <div class="w-full flex flex-col md:flex-row py-6">

      <div class="flex-1 mb-6 px-6">
          <img class=" cursor-pointer" src="../../assets/logo_edited_2.jpeg" alt="">
      </div>

      <div class="flex-1">
        <p class="uppercase text-black md:mb-6 font-bold">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Terms</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-black md:mb-6 font-bold">Social</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Facebook</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Linkedin</a>
          </li>

        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-black md:mb-6 font-bold">Info</p>
        <ul class="list-reset mb-6">

          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">FAQ</a>
          </li>

          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-orange-500">Support</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
