<!--<h2 mat-dialog-title></h2>-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

  <title>Document</title>
</head>
<body>

<h1 class="text-4xl text-center font-bold">Ingredients</h1>
<h2 class="text-xs text-center">Select the ingredients of your original recipe.</h2>
<hr class="border-t-2 border-black m-2">

<div class="flex flex-row justify-center items-center">
</div>

</body>
</html>
